canvas {
    background-color: lightgrey;
    border: 2px solid black;
    width: 350px;
    height: 500px;
    display: block;
    margin: 0 auto;
}
h1{
    text-align: center;
    color: darkblue;
}

h4{
    text-align: center;
    color: darkblue;
}

.fa-arrow-left{

    margin-right: 50px;
    font-size: 80px; 
    text-align : center;
    color: darkblue;
}

.fa-arrow-right{
    margin-right: 0px;
    font-size: 80px;
    text-align : center;
    color: darkblue;
}
   

#pauseBtn {
    width: 120px;
    height: 50px;
    font-size: 1.5em;
    margin: 20px auto;
    display: block;
}
.controls{
    text-align: center;
    size: 5000px;
    
}

@media (pointer: fine) {
    .arrow {
        display: none;
        text-align : center;
    }
}